<h1>座って楽しむショータイプのアトラクションで盛り上がろう！</h1>
<%= link_to "トップへ戻る", root_path %>
<p class="showbtn"><a>座って楽しむ<br>ショーアトラクション</a></p>

<div class="map">
  <img src="/assets/disney_land-34a154f2f74b61f51aa3829df9e56579d9a96339e6296492670b36228f960f0e.jpg">
  <p class="trobtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/156/" target="blank">魅惑のチキルーム</a></p>
  <p class="cbjbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/158/" target="blank">カントリーベア<br>シアター</a></p>
  <p class="fhmbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/167/" target="blank">フィルハーマジック</a></p>
  <p class="stebtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/195/" target="blank">スティッチ・エンカウンター</a></p>

</div>