<h1>ぎょたろうのディズニーマップへようこそ!!</h1>
<%= link_to "ホーム", root_path %>
<br> <p>行きたい施設を選択してね！</p> 
<%= link_to "アトラクション", "/map_attractions" %>
<p> レストラン(実装予定)</p>


<%= link_to "トイレ","/map_toilets"%><br>
<%= link_to "喫煙所","/map_smoking_areas"%>

<p>施設は色ごとに分類されています</p>
<body>
  <ul>
    <p class="trbtn"><a href="/map_attraction_trs" target="blank">スピード・揺れの激しいスリルライド</a></p>
    <p class="shipbtn"><a href="/map_attraction_ships" target="blank">ゆっくりと水上・地上を進むライド</a></p>
    <p class="spinbtn"><a href="/map_attraction_spins" target="blank">回転を伴う<br>フロートライド</a></p>
    <p class="actbtn"><a href="/map_attraction_acts" target="blank">ウォークスルーや<br>アクティビティ</a></p>
    <p class="showbtn"><a href="/map_attraction_shows" target="blank">座って楽しむ<br>ショーアトラクション</a></p>
    <p class="toiletbtn"><a href="/map_toilets" target="blank">トイレ</a></p>
    <p class="smokingbtn"><a href="/map_smoking_areas" target="blank">喫煙所</a></p>
  </ul>
</body>





<div class="map">
  <img src="/assets/disney_land-34a154f2f74b61f51aa3829df9e56579d9a96339e6296492670b36228f960f0e.jpg">
  <p class="btmbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/160/" target="blank">ビッグサンダーマウンテン</a></p>
  <p class="smbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/162/" target="blank">スプラッシュマウンテン</a></p>
  <p class="spmbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/184/" target="blank">スペースマウンテン</a></p>
  <p class="stbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/183/" target="blank">スター・ツアーズ</a></p>
  <p class="gcbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/179/" target="blank">ガジェットのコースター</a></p>
  <p class="bmbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/196/" target="blank">ベイマックス<br>ハッピーライド</a></p>

  <p class="jcbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/153/" target="blank">ジャングルクルーズ</a></p>
  <p class="wlbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/154/" target="blank">ウエスタンリバー鉄道</a></p>
  <p class="mtbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/159/" target="blank">蒸気船マーク・トゥエイン号</a></p>
  <p class="potcbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/152/" target="blank">カリブの海賊</a></p>
  <p class="iasbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/172/" target="blank">イッツ・ア・スモールワールド</a></p>
  <p class="onbbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/151/" target="blank">オムニバス</a></p>

  <p class="mibtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/189/" target="blank">モンスターズ・インク<br>ライド&ゴーシーク!</a></p>
  <p class="bzbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/185/" target="blank">バズ・ライトイヤー<br>アストロブラスター</a></p>
  <p class="batbbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/197/" target="blank">美女と野獣<br>魔法の物語</a></p>
  <p class="ctsbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/175/" target="blank">ロジャーラビットの<br>カートゥーンスピン</a></p>
  <p class="hhbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/174/" target="blank">プーさんのハニーハント</a></p>
  <p class="pnkbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/168/" target="blank">ピノキオの冒険旅行</a></p>
  <p class="mgrbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/170/" target="blank">キャッスルカルーセル</a></p>
  <p class="cfcbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/173/" target="blank">アリスの<br>ティーパーティー</a></p>
  <p class="dnbbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/169/" target="blank">空飛ぶ<br>ダンボ</a></p>
  <p class="htmbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/171/" target="blank">ホーンテッドマンション</a></p>
  <p class="swbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/165/" target="blank">白雪姫と<br>七人のこびと</a></p>
  <p class="ptpbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/164/" target="blank">ピーターパン<br>空の旅</a></p>

  <p class="tsybtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/161/" target="blank">トムソーヤ島<br>いかだ</a></p>
  <p class="cnbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/163/" target="blank">ビーバーブラザーズの<br>カヌー探検</a></p>
  <p class="gfbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/181/" target="blank">グーフィーのペイント<br>&プレイハウス</a></p>
  <p class="fthbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/166/" target="blank">フェアリーテール<br>ホール</a></p>
  <p class="tdbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/178/" target="blank">チップとデールの<br>ツリーハウス</a></p>
  <p class="mnybtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/176/" target="blank">ミニーの家</a></p>
  <p class="trybtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/155/" target="blank">スイスファミリー<br>ツリーハウス</a></p>
  <p class="wtrsbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/157/" target="blank">シューティングギャラリー</a></p>

  <p class="trobtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/156/" target="blank">魅惑のチキルーム</a></p>
  <p class="cbjbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/158/" target="blank">カントリーベア<br>シアター</a></p>
  <p class="fhmbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/167/" target="blank">フィルハーマジック</a></p>
  <p class="stebtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/195/" target="blank">スティッチ・エンカウンター</a></p>

  <p class="til1btn"><a>トイレ</a></p>
  <p class="til2btn"><a>トイレ</a></p>
  <p class="til3btn"><a>トイレ</a></p>
  <p class="til4btn"><a>トイレ</a></p>
  <p class="til5btn"><a>トイレ</a></p>
  <p class="til6btn"><a>トイレ</a></p>
  <p class="til7btn"><a>トイレ</a></p>
  <p class="til8btn"><a>トイレ</a></p>
  <p class="til9btn"><a>トイレ</a></p>
  <p class="til10btn"><a>トイレ</a></p>
  <p class="til11btn"><a>トイレ</a></p>
  <p class="til12btn"><a>トイレ</a></p>
  <p class="til13btn"><a>トイレ</a></p>
  <p class="til14btn"><a>トイレ</a></p>
  <p class="til15btn"><a>トイレ</a></p>
  <p class="til16btn"><a>トイレ</a></p>
  <p class="til17btn"><a>トイレ</a></p>
  <p class="til18btn"><a>トイレ</a></p>
  <p class="til19btn"><a>トイレ</a></p>

  <p class="smo1btn"><a>喫煙所</a></p>
  <p class="smo2btn"><a>喫煙所</a></p>
  <p class="smo3btn"><a>喫煙所</a></p>



</div>
