<h1>スピード・揺れの激しいスリルライドを楽しみましょう！</h1>
<%= link_to "トップへ戻る", root_path %>
<p class="trbtn"><a>スピード・揺れの激しいスリルライド</a></p>

<div class="map">
  <img src="/assets/disney_land-34a154f2f74b61f51aa3829df9e56579d9a96339e6296492670b36228f960f0e.jpg">
  <p class="btmbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/160/" target="blank">ビッグサンダーマウンテン</a></p>
  <p class="smbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/162/" target="blank">スプラッシュマウンテン</a></p>
  <p class="spmbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/184/" target="blank">スペースマウンテン</a></p>
  <p class="stbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/183/" target="blank">スター・ツアーズ</a></p>
  <p class="gcbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/179/" target="blank">ガジェットのコースター</a></p>
  <p class="bmbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/196/" target="blank">ベイマックス<br>ハッピーライド</a></p>

</div>
