<h1>自分で歩いたり撃ったり船を漕いだり！！アクティビティを楽しみましょう！</h1>
<%= link_to "トップへ戻る", root_path %>
<p class="actbtn"><a>ウォークスルーや<br>アクティビティ</a></p>

<div class="map">
  <img src="/assets/disney_land-34a154f2f74b61f51aa3829df9e56579d9a96339e6296492670b36228f960f0e.jpg">
  <p class="tsybtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/161/" target="blank">トムソーヤ島<br>いかだ</a></p>
  <p class="cnbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/163/" target="blank">ビーバーブラザーズの<br>カヌー探検</a></p>
  <p class="gfbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/181/" target="blank">グーフィーのペイント<br>&プレイハウス</a></p>
  <p class="fthbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/166/" target="blank">フェアリーテール<br>ホール</a></p>
  <p class="tdbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/178/" target="blank">チップとデールの<br>ツリーハウス</a></p>
  <p class="mnybtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/176/" target="blank">ミニーの家</a></p>
  <p class="trybtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/155/" target="blank">スイスファミリー<br>ツリーハウス</a></p>
  <p class="wtrsbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/157/" target="blank">シューティングギャラリー</a></p>

</div>
