<h1>乗り物が回ったり、進んだり！いろいろな世界を旅しましょう！</h1>
<%= link_to "トップへ戻る", root_path %>
<p class="spinbtn"><a>回転を伴う<br>フロートライド</a></p>

<div class="map">
  <img src="/assets/disney_land-34a154f2f74b61f51aa3829df9e56579d9a96339e6296492670b36228f960f0e.jpg">
  <p class="mibtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/189/" target="blank">モンスターズ・インク<br>ライド&ゴーシーク!</a></p>
  <p class="bzbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/185/" target="blank">バズ・ライトイヤー<br>アストロブラスター</a></p>
  <p class="batbbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/197/" target="blank">美女と野獣<br>魔法の物語</a></p>
  <p class="ctsbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/175/" target="blank">ロジャーラビットの<br>カートゥーンスピン</a></p>
  <p class="hhbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/174/" target="blank">プーさんのハニーハント</a></p>
  <p class="pnkbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/168/" target="blank">ピノキオの冒険旅行</a></p>
  <p class="mgrbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/170/" target="blank">キャッスルカルーセル</a></p>
  <p class="cfcbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/173/" target="blank">アリスの<br>ティーパーティー</a></p>
  <p class="dnbbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/169/" target="blank">空飛ぶ<br>ダンボ</a></p>
  <p class="htmbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/171/" target="blank">ホーンテッドマンション</a></p>
  <p class="swbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/165/" target="blank">白雪姫と<br>七人のこびと</a></p>
  <p class="ptpbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/164/" target="blank">ピーターパン<br>空の旅</a></p>

</div>