<h1>最寄りの喫煙所でひと休憩!!</h1>

<%= link_to "トップへ戻る", root_path%>

<div class="map">
  <img src="/assets/disney_land-34a154f2f74b61f51aa3829df9e56579d9a96339e6296492670b36228f960f0e.jpg">
  <p class="smo1btn"><a>喫煙所</a></p>
  <p class="smo2btn"><a>喫煙所</a></p>
  <p class="smo3btn"><a>喫煙所</a></p>

</div>
