<h1>ゆっくりと進むライドに乗って冒険へでかけましょう！</h1>
<%= link_to "トップへ戻る", root_path %>
<p class="shipbtn"><a>ゆっくりと水上・地上を進むライド</a></p>

<div class="map">
  <img src="/assets/disney_land-34a154f2f74b61f51aa3829df9e56579d9a96339e6296492670b36228f960f0e.jpg">
  <p class="jcbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/153/" target="blank">ジャングルクルーズ</a></p>
  <p class="wlbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/154/" target="blank">ウエスタンリバー鉄道</a></p>
  <p class="mtbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/159/" target="blank">蒸気船マーク・トゥエイン号</a></p>
  <p class="potcbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/152/" target="blank">カリブの海賊</a></p>
  <p class="iasbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/172/" target="blank">イッツ・ア・スモールワールド</a></p>
  <p class="onbbtn"><a href="https://www.tokyodisneyresort.jp/tdl/attraction/detail/151/" target="blank">オムニバス</a></p>

</div>
