<h1>最寄りのお手洗いを探そう!!</h1>

<%= link_to "トップへ戻る", root_path%>

<div class="map">
  <img src="/assets/disney_land-34a154f2f74b61f51aa3829df9e56579d9a96339e6296492670b36228f960f0e.jpg">
  <p class="til1btn"><a>トイレ</a></p>
  <p class="til2btn"><a>トイレ</a></p>
  <p class="til3btn"><a>トイレ</a></p>
  <p class="til4btn"><a>トイレ</a></p>
  <p class="til5btn"><a>トイレ</a></p>
  <p class="til6btn"><a>トイレ</a></p>
  <p class="til7btn"><a>トイレ</a></p>
  <p class="til8btn"><a>トイレ</a></p>
  <p class="til9btn"><a>トイレ</a></p>
  <p class="til10btn"><a>トイレ</a></p>
  <p class="til11btn"><a>トイレ</a></p>
  <p class="til12btn"><a>トイレ</a></p>
  <p class="til13btn"><a>トイレ</a></p>
  <p class="til14btn"><a>トイレ</a></p>
  <p class="til15btn"><a>トイレ</a></p>
  <p class="til16btn"><a>トイレ</a></p>
  <p class="til17btn"><a>トイレ</a></p>
  <p class="til18btn"><a>トイレ</a></p>
  <p class="til19btn"><a>トイレ</a></p>

</div>
